<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">    
    </head>
<body>
<div class="page-data">
    
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Name</td><td> <input type="text" name="name"></td>
         </tr>
        <tr>
            <td class="label">Email</td><td> <input type="text" name="email"></td>
         </tr>
          <tr>
            <td class="label">Due Date</td><td> <input type="date" name="date"></td>
         </tr>
     </table>

        <table class="line_items" cellpadding="11">
        <tr>
            <td class="label">Description</td> <td class="label">Amount</td>
        </tr>
        <tr>
            <td> <input type="text" name="description[]"></td> <td> <input type="text" name="amount[]" id="amt"></td>
        </tr> 
    </table>
    <br>
    <br>
   
    <button class="add">+</button>
        <table cellpadding="11">
        <tr>
        <!--<td class="label"></td>-->
        <th>Total</th>
        <td><span data-prefix>$</span><span>0.00</span></td>
        <td>
      
            &nbsp; <input type="button" value="Save" onClick="saveUser()">

        </td>
        </tr>
    </table>
    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

//Add and Cut LineItems
$(document).ready(function() {
    var max_fields      = 10; 
    var li              = $(".line_items"); 
    var add_button      = $(".add"); 
    var x = 1; 
    $(add_button).click(function(e){ 
        e.preventDefault();
        if(x<max_fields){
            x++; 
            $(li).append('<div><input type="text" name="description[]"/>&emsp;<input type="text" name="amount[]"/><a href="#" class="cut">-</a></div>');
        }
    });
        $(li).on("click",".cut", function(e){ 
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

    function saveUser(){
       
       $.ajax({
        
        url:"/api/user",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteUser(user_id){
    
        $.ajax({
            url:"/api/user/"+user_id,
            type: 'DELETE',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
