<!DOCTYPE html>
<html>
    <head>
        <title>Invoice></title>
        <h1>Create Invoice</h1>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="page-data">

    <form method="post" action="" id="the-form">
    <table cellpadding="11">
        <tr>
            <td class="label">Name</td><td> <input type="text" name="name"></td>
         </tr>
        <tr>
            <td class="label">Email</td><td> <input type="text" name="email"></td>
         </tr>
          <tr>
            <td class="label">Due Date</td><td> <input type="date" name="date"></td>
         </tr>
     </table>

    <table class="line_items" id = "lit" cellpadding="11">
        <tr>
            <td class="label">Description</td> <td class="label">Amount</td>
        </tr>
        <tr>
            <td> <input type="text" name="description[]"></td> <td> <input type="text" name="amount[]" class="amount"></td>
        </tr>
    </table>
    <br>
    <br>
    <button type="button" title="Add" class ="add">+</button>
    <br>
    <br/>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Total: <input type="text" id="total" />
    <br>
    <br>
    <br>
    <input type="button" value="Send" onClick="saveUser()">


    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

//Add and Cut LineItems
$(document).ready(function() {
    $(document).on("keyup", ".amount", calculateSum);
    $("button").click(function() { addrow('lit') });

});


function calculateSum() {

    var sum = 0;
    $(".amount").each(function () {

        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }

    });
    $("#total").val(sum.toFixed(2));
}

function addrow(tableID) {

    var table = document.getElementById(tableID);

    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);

    var colCount = table.rows[1].cells.length;

    for (var i = 0; i < colCount; i++) {

        var newcell = row.insertCell(i);

        newcell.innerHTML = table.rows[1].cells[i].innerHTML;
        switch (newcell.childNodes[0].type) {
            case "text":
                newcell.childNodes[0].value = "";
                break;

        }
    }
}


    function saveUser(){

       $.ajax({

        url:"/api/user",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){

            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){

            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {

                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);
            return false;
        }

       });
    }

    function deleteUser(user_id){

        $.ajax({
            url:"/api/user/"+user_id,
            type: 'DELETE',
            success: function(res) {

                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
